{% extends 'base_back_etude.html.twig' %}

{% block title %}New Facture{% endblock %}

{% block body %}
    <h1>Create new Facture</h1>

    {{ include('backOfficeAbonement/facture2/_form.html.twig') }}

    <a href="{{ path('app_facture2_index') }}">back to list</a>
{% endblock %}
