{% extends 'base_front.html.twig' %}



{% block title %}expert {% endblock %}

{% block body %}
    <h1>Create new Expert</h1>

    {{ include('expert/_form.html.twig') }}

    <a href="{{ path('app_expert_index') }}">back to list</a>
{% endblock %}
