{% extends 'back/base.html.twig' %}

{% block title %}New Maintenance{% endblock %}

{% block body %}
    <h1>Create new Maintenance</h1>

    {{ include('maintenance2/_form.html.twig') }}

    <a href="{{ path('app_maintenance2_index') }}">back to list</a>
{% endblock %}
