{% extends 'base_back_etude.html.twig' %}



{% block title %}abonnement {% endblock %}

{% block body %}
    <h1>Create new Abonnement</h1>

    {{ include('backOfficeAbonement/abonnement2/_form.html.twig') }}

   <center>  <a href="{{ path('app_abonnement2_index')}}"  class="button">back to list</a> </center>
{% endblock %}


