/* Show Page Styling */
.show-page {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
}

.show-page h1 {
  font-size: 2.19rem;
  color: #333;
  margin-bottom: 15px;
}

.show-page p {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  margin-bottom: 15px;
}

.show-page .back-button,
.show-page .edit-button {
  padding: 10px 20px;
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.show-page .back-button:hover,
.show-page .edit-button:hover {
  background-color: #007bb5;
}

.show-page .delete-button {
  padding: 10px 20px;
  background-color: var(--danger);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.show-page .delete-button:hover {
  background-color: #e03338;
}
