{% extends 'base_front_etude.html.twig' %}
{% block body %}
    <h1>Edit Animal</h1>

    {{ include('frontOfficeAnimal/animal/_form.html.twig', {'button_label': 'Update'}) }}

    <center><a href="{{ path('app_animal_index') }}" class="button">back to list</a></center>

 <center>   {{ include('frontOfficeAnimal/animal/_delete_form.html.twig') }}</center>
{% endblock %}
