{% extends 'base_front_etude.html.twig' %}

{% block body %}
    <div class="form-box">
        <div class="form">
            <h1 class="title">S'inscrire</h1>
            {{ include('frontOfficeUser/_form.html.twig') }}
        </div>
    </div>
{% endblock %}


