{% extends 'base_front_etude.html.twig' %}

{% block title %}Edit Etude{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Edit Etude</h1>

       
            {{ include('frontOfficeEtude/etude/_form.html.twig', {'button_label': 'Update'}) }}

        
    <div style="text-align: center; margin-top: 20px;">
            <a href="{{ path('app_etude_index',{'context': app.request.get('context')}) }}" class="button">Back to List</a>
        </div>

      
    <div style="text-align: center; margin-top: 20px;">
            {{ include('frontOfficeEtude/etude/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
