{% extends 'base_back_etude.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
    <h1>An Error Occurred yaaa ayvzyatgeyatzgetyazgetyazgetygaze tyatygaz etyazgety gfaztyegazty geytazgf etyagztyev aztye yaztve tyazvetyv aztyvey atzveytv azetyv</h1>
    <p>{{ error }}</p>
{% endblock %}