{% extends 'base_front_etude.html.twig' %}

{% block title %}New Facture{% endblock %}

{% block body %}
    <h1>Create new Facture</h1>

    {{ include('frontOfficeAbonement/facture/_form.html.twig') }}

{% endblock %}
