{% extends 'base_front_etude.html.twig' %}



{% block title %}expert {% endblock %}

{% block body %}
    <h1>Create new Expert</h1>

    {{ include('frontOfficeEtude/expert/_form.html.twig') }}

   <center>  <a href="{{ path('app_expert_index',{'context': app.request.get('context')}) }}"  class="button">back to list</a> </center>
{% endblock %}
